
.rainbow-button 
{
    background-image: linear-gradient(to right, red, orange, yellow, green, cyan, blue, indigo, violet);
    border-radius: 5px;
    color: white;
    animation: rainbow 1s linear infinite;
}
  
  @keyframes rainbow
{
    0% {
      background-position: 0% 0%;
    }
  
    100% {
      background-position: 100% 0%;
    }
} 